<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <!--<add name="sdprolizaEntities"
      connectionString="metadata=res://*/EntityFramework.sdproliza.csdl|res://*/EntityFramework.sdproliza.ssdl|res://*/EntityFramework.sdproliza.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=smartdataconsultores.com;initial catalog=sdproliza_dev;persist security info=True;user id=gera2;password=Cafesitorico19;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>-->
    <!--<add name="sdprolizaEntities"
      connectionString="metadata=res://*/EntityFramework.sdproliza.csdl|res://*/EntityFramework.sdproliza.ssdl|res://*/EntityFramework.sdproliza.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=smartdataconsultores.com;initial catalog=sdproliza3;persist security info=True;user id=gera2;password=Cafesitorico19;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>-->
    <!--DESARROLLO-->
    <add name="sdprolizaEntities"
      connectionString="metadata=res://*/EntityFramework.sdproliza.csdl|res://*/EntityFramework.sdproliza.ssdl|res://*/EntityFramework.sdproliza.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=DESKTOP-SQIU278;Database=sdproliza;Trusted_Connection=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="sdprolizaEntitiessp" connectionString="data source = DESKTOP-SQIU278; initial catalog =sdproliza; Trusted_Connection=True;" />
    <!--PRODUCTIVO-->
    <!--<add name="sdprolizaEntities"
      connectionString="metadata=res://*/EntityFramework.sdproliza.csdl|res://*/EntityFramework.sdproliza.ssdl|res://*/EntityFramework.sdproliza.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=DIRECCION\SQLEXPRESS;Database=sdproliza;Trusted_Connection=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="sdprolizaEntitiessp" connectionString="data source = DIRECCION\SQLEXPRESS; initial catalog =sdproliza; Trusted_Connection=True;" />-->

  </connectionStrings>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="13.0.1600.0" newVersion="13.0.3500.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="13.0.1600.0" newVersion="13.0.3500.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="13.0.1600.0" newVersion="13.0.3500.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Web" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="13.0.1600.0" newVersion="13.0.3500.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Windows.Forms" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="13.0.1600.0" newVersion="13.0.3500.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.ClientDoc" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="13.0.1600.0" newVersion="13.0.3500.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CommonControls" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="13.0.1600.0" newVersion="13.0.3500.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CommonObjectModel" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="13.0.1600.0" newVersion="13.0.3500.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.Controllers" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="13.0.1600.0" newVersion="13.0.3500.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CubeDefModel" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="13.0.1600.0" newVersion="13.0.3500.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataDefModel" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="13.0.1600.0" newVersion="13.0.3500.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataSetConversion" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="13.0.1600.0" newVersion="13.0.3500.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.ObjectFactory" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="13.0.1600.0" newVersion="13.0.3500.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.Prompting" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="13.0.1600.0" newVersion="13.0.3500.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.ReportDefModel" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="13.0.1600.0" newVersion="13.0.3500.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.XmlSerialize" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="13.0.1600.0" newVersion="13.0.3500.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->


  <runtime>


    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">


      <dependentAssembly>


        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>


        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>


      </dependentAssembly>


    </assemblyBinding>


  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
